body {
    background-color: lightgreen;
    max-width: 1400px;
    margin: auto;
    font-size: 30px;
}

a {
    font-size: 28px;
    border: 5px solid blue;
    padding: 10px;
    line-height: 3;
}

a.attribute {
    font-size: 30px;
    border: 0px;
    line-height: 0%;
    padding: 0%;
}

aside {
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 20%;
}

figure.right {
    float: right;
}

figure.left {
    float: left;
}

figure.border {
    background-color: lightblue;
    border: black solid thin;
    padding: 10px;
}

footer {
    background-color: rgba(255, 255, 255, 0.452);
    font-size: 20px;
    text-align: center;
    border: black solid thin;
    clear: both;
}

header {
    color: white;
    background-color: brown;
    text-align: center;
    font-size: 26px;
}

header p {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

img.float {
    float: right;
    padding-top: 5%;
    padding-bottom: 5%;
}

img.resize {
    min-width: 10%;
    max-width: 100%;
    height: auto;
}

img.imgpad {
    padding-bottom: 5%;
}

nav {
    background-color: lightgoldenrodyellow;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav.continents {
    background-color: lightgreen;
    border: 0px;
}

nav.continents a {
    border: 1px solid yellow;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 8px;
}

ul.dis-type {
    list-style-type: none;
}

.byline {
    font-style: italic;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
}