@import "button-styles.css";

body {
    background-color: darkslategray;
    font-family: cursive;
    max-width: 1200px;
    margin: auto;
}

a {
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
    line-height: 2.5;
}

aside {
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 33%;
}

figure.left {
    float: left;
}

figure.border {
    background-color: purple;
    border: black solid thin;
    padding: 10px;
}

footer {
    background-color: teal;
    text-align: center;
    border: black solid thin;
}

footer ul {
    list-style-type: none;
}

header {
    background-color: blueviolet;
    text-align: center;
}

header p {
    font-weight: bold;
    color: blue;
}

h1 {
    color: blue;
}

h2 {
    color: green;
    font-size: 20px;
}

img.resize {
    width: 900px;
}

main {
    background-color: darkorange;
}

nav {
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 8px;
}

p {
    color: blue;
}

p.clear {
    clear: both;
}

.blue-text {
    color: blue;
}

.byline {
    font-style: italic;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
}

.red-heading {
    color: red;
}

#new-font {
    font-family: fantasy, cursive, serif;
}